*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


h1{
    text-align: center;
    margin-top: 3%;
    }

main{
    
    legend{
        margin-left: 2%;
    }
    max-width: 480px;
    margin: 5% auto;
}
fieldset{
    margin: 1.50rem auto;
    padding: 1rem;
    border-radius: 10px;
}
input{
    border-radius: 5px;
    padding: .5rem;
    text-align: left;
}
.personales{
    input{
        width: 100%;
    }
    div{
        margin-top: 1rem;
    }
    p{
        font-size: .8rem;
        color: red;
        height: 1.5rem;
    }
}
.reserva{
    display: flex;
    gap: .5rem;
    div{
        width: 100%;
    }
    input{
        width: 100%;
    }
}
input[type="radio"]{
    accent-color: darkgreen;
}
input[type="radio"]:checked + label{
    color: darkgreen;
}
input:focus{
    background-color: #f2c564b4;
}
.botones{
    display: flex;
    justify-content: space-between;
    button{
        padding: 10px 20px;
        border-radius: 5px;
    }  
    .reservar{
        background-color: darkgreen;
        color: antiquewhite;
    }
    .cancelar{
        background-color: plum;
    }
}
.cancelar:hover, .reservar:hover{
    cursor: pointer;
}

dialog{
    width: 80%;
    margin: auto;
    background-color: ivory;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;
    h2{
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

    }
    p{
        font-size: 1.2rem;
        margin: 1rem 0;
        color: gray;
        text-align: left;

    }
    .textoPrincipal{
        color: black;
    }
    form{
        border-top: 2px solid black;
        margin-top: 3rem;
    }
    button{
        padding: 10px 20px;
        border-radius: 5px;
        margin:1rem;
        background-color: sandybrown;
        border-color: sandybrown;
        &:hover{
            background-color: #f2c564;
            border-color: #f2c564;
            cursor: pointer;
        }
    }
}