*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    max-width: 80%;
    margin: 0 auto;   
}
main section:first-child{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 2rem;
}
main section:nth-child(2){
    background-color: darksalmon;
    /* height: 100px; */
    width: 100%;
    border: 3px solid darkred;
    border-radius: 10px;
    background-clip: padding-box;
    display: none;
    padding: 10px;
    p{
        margin-bottom: 5px;
        color: blue;
    }
    div{
        border: 0;
    }
}
h2{
    font-size: 1.25rem;
}
div{
    width: 100%;
    border: 3px solid steelblue;
    border-radius: 5%;
    img{
        width: 100%;
    }
    li{
        list-style: none;
    }
}
#alquiler {
    margin: 1rem 0;

}
.bold{
    font-family: 'Times New Roman', Times, serif;
    font-weight:800;
    color: black;
}
